:root {
  --border-thickness: 10px;
}

.figure_wrap {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figures {
  text-align: -webkit-center;
}

#square {
  display: none;
}

#circle {
  display: none;
}

#triangle {
  display: none;
}

#figure_square,
#figure_circle,
#figure_triangle{
  fill: transparent;
  stroke: red;
  stroke-width: var(--border-thickness);
}
