:root{
    --border-thickness: 10px;
}

.figure_wrap{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figures{
    text-align: -webkit-center;
}

#square{
    display: block;
}

#circle{
    display: none;
}

#triangle{
    display: none;
}

#figure{
    fill:transparent;
    stroke:red;
    stroke-width: var(--border-thickness);
}