@font-face {
    font-family: "Righteous-Regular";
    src: url("../../fonts/Righteous/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}

/* -- main page header`s style -- */
.settings_button{
    width: 44px;
    height: 44px;
    position: fixed;
    top: 8px;
    right: 8px;
    background-image: url("../../img/settings.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -- main page content`s style -- */
.main_content_wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2E3B;
}

.logo_wrap, .menu_wrap{
    width: 589px;
    height: 150px;
    display: flex;
    align-items: center;
}
.logo_wrap{
    justify-content: center;
}

.menu_wrap{
    justify-content: space-between;
}

.logo_wrap > p{
    font-family: Righteous-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #EEE7E7;
    margin-top: 0.9em;
}

.click_time_icon{
    width: 150px;
    height: 150px;
    margin-left: 18px;
    background-image: url("../../img/clicTimeIcon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* -- style of menu buttons -- */
.menu_wrap > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background: #EEE7E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}